{% extends 'dbase.html' %}

{% block content %}
    <H1>Car List</H1>
    <div class="table-responsive">
        <table class="table" id="autos">
            <thead>
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Year</th>
                    <th scope="col">Model</th>
                    <th scope="col">VIN</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for auto in autos %}
                <tr id={{ auto.id }}>
                    <th scope="row">{{ auto.status }}</th>
                    <td> {{auto.year }} </td>
                    <td> {{ auto.model }} </td>
                    <td> {{ auto.vin }} </td>
                    <td> {{ auto.price }} </td>
                    <td> <a href="/buy">Buy</a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <BR>
    <H1>Purchase History</H1>
    <div class="table-responsive">
        <table class="table" id="boughts">
            <thead>
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Year</th>
                    <th scope="col">Model</th>
                    <th scope="col">VIN</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
            {% for bought in boughts %}
                <tr id={{ bought.id }}>
                    <th scope="row">{{ bought.status }}</th>
                    <td> {{bought.year }} </td>
                    <td> {{ bought.model }} </td>
                    <td> {{ bought.vin }} </td>
                    <td> {{ bought.price }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}