{% extends 'base.html' %}

{% block content %}
    <form method="POST" id="target"> 
        <div class="form-group">
            <input type="text" class="form-control" name="status" value="{{ data.status }}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="year" value="{{ data.year }}">
        </div>
         <div class="form-group">
            <input type="text" class="form-control" name="model" value="{{ data.model }}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="vin" value="{{ data.vin }}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="price" value="{{ data.price }}">
        </div>

        <button type="submit" class="btn btn-block btn-primary">Update</button>
    </form>
{% endblock %}